body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    margin-bottom: 1em;
}

p.error-message {
    background-color: #ff2a2a;
    display: inline-block;
    padding: 1em;
    border-radius: .5em;
    color: #FFFFFF;
    margin-top: 0;
}

label.y-label {
    display: inline-block;
    position: relative;
    top: -13em;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
 }

 label.x-label {
    display: block;
    left: 4%;
    position: relative;
 }

 p.not-found-message a.home-link {
    display: block;
    margin-top: 1em;
 }